<div>
    <div>
        <h1>Subject</h1>
        <button (click)="generatePaper()" class="btn btn-primary btn-round">Generate PDF</button>
        <button class="btn btn-primary btn-round" disabled>Generate Word</button>
        <button class="btn btn-primary btn-round" disabled>Generate PDF Key</button>
        <button class="btn btn-primary btn-round" disabled>Generate Word Key</button>
    </div>

    <h2>MCQs</h2>
    <ul *ngIf="mcqQuestions.length > 0">
        <li *ngFor="let question of mcqQuestions">
            <td class="large-question-text">
                <div> {{ question.questionText }} </div>
                <div *ngIf="question.sectionType === 'MCQ'">
                </div>
            </td>
            <br>
            <td>
                <div *ngIf="mcqOptions[question.id]?.length; else noOptions">
                    <strong>Options:</strong>
                    <ul>
                        <li *ngFor="let option of mcqOptions[question.id]">
                            {{ option.optionText }} {{ option.correct ? '(Correct)' : '' }}
                        </li>
                    </ul>
                </div>
                <ng-template #noOptions>
                    <em>No options available for this question.</em>
                </ng-template>
            </td>
        </li>
    </ul>
    <p *ngIf="mcqQuestions.length === 0">No MCQ questions added</p>

    <h2>Short Answer Questions</h2>
    <ul *ngIf="shortQuestions.length > 0">
        <li *ngFor="let question of shortQuestions">{{ question.questionText }}</li>
    </ul>
    <p *ngIf="shortQuestions.length === 0">No short questions added</p>

    <h2>Long Answer Questions</h2>
    <ul *ngIf="longQuestions.length > 0">
        <li *ngFor="let question of longQuestions">{{ question.questionText }}</li>
    </ul>
    <p *ngIf="longQuestions.length === 0">No long questions added</p>
</div>