<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title"> All Chapters</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead class="text-primary">
                            <tr>
                                <th>S. No</th>
                                <th>Name</th>
                                <th>Subject</th>
                                <th>Class</th>
                                <!-- <th class="text-right">Salary</th> -->
                                <th class="text-right">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let chapter of chapters; let i = index">
                                <td>{{ i + 1 }} <!-- Serial number --></td>
                                <td>{{ chapter.name }}</td>
                                <td>{{ chapter.subject.name }}</td>
                                <td>{{ chapter.subject.classEntity.name }}</td>
                                <td class="text-right">
                                    <button (click)="editChapter(chapter)" class="btn btn-primary btn-round">
                                        Edit
                                    </button>
                                    <button (click)="deleteChapter(chapter)" class="btn btn-danger btn-round">
                                        Delete
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>