<!-- <div class="update ml-auto mr-auto">
    <button (click)="selectedChapter" type="submit" class="btn btn-primary btn-round">Add Chapter</button>
</div> -->

<!-- Pass selected chapter to add-chapter component -->
<app-add-chapter [selectedChapter]="selectedChapter" (chapterAdded)="onChapterAdded()"></app-add-chapter>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h4 class="card-title">All Chapters</h4>

                <div class="d-flex gap-3">
                    <div class="form-group mb-0">
                        <select #classDropdown (change)="onClassChange(classDropdown.value)" class="form-control">
                            <option value="all" selected>All</option>
                            <option *ngFor="let class of classes" [value]="class.id">
                                {{ class.name }}
                            </option>
                        </select>
                    </div>

                    <div class="form-group mb-0">
                        <select #subjectDropdown (change)="onSubjectChange(subjectDropdown.value)" class="form-control">
                            <option value="all" selected>All</option>
                            <option *ngFor="let subject of subjects" [value]="subject.id">
                                {{ subject.name }} - {{subject.classEntity.name}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead class="text-primary">
                            <tr>
                                <th>S. No</th>
                                <th>Name</th>
                                <th>Subject</th>
                                <th>Class</th>
                                <th class="text-right">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let chapter of chapters; let i = index">
                                <td>{{ i + 1 }}</td>
                                <td>{{ chapter.name }}</td>
                                <td>{{ chapter.subject.name }}</td>
                                <td>{{ chapter.subject.classEntity.name }}</td>
                                <td class="text-right">
                                    <button (click)="editChapter(chapter)"
                                        class="btn btn-primary btn-round">Edit</button>
                                    <button (click)="deleteChapter(chapter)"
                                        class="btn btn-danger btn-round">Delete</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>