<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h3>{{ selectedChapter ? 'Edit Chapter' : 'Add Chapter' }}</h3>
                </div>
                <div class="card-body">
                    <form [formGroup]="chapterForm" (ngSubmit)="onSubmit()">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" id="name" formControlName="name" class="form-control"
                                placeholder="Enter name" />
                        </div>

                        <div class="form-group">
                            <label for="dropdown">Select Class</label>
                            <select #classDropdown (change)="onClassChange(classDropdown.value)" id="dropdown"
                                formControlName="class" class="form-control">
                                <option value="all">All</option>
                                <option *ngFor="let classInfo of classes" value="{{ classInfo.id }}">
                                    {{ classInfo?.name || 'Unnamed Class' }}
                                </option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="dropdown">Select Subject</label>
                            <select id="dropdown" formControlName="subject" class="form-control">
                                <option value="" disabled>Select a subject</option>
                                <option *ngFor="let subjectEntity of subjects" value="{{ subjectEntity.id }}">
                                    {{ subjectEntity?.name || 'Unnamed Subject' }} -
                                    {{ subjectEntity?.classInfo?.name || 'No Class' }}
                                </option>
                            </select>
                        </div>

                        <button type="submit" class="btn btn-primary btn-block" [disabled]="chapterForm.invalid">
                            {{ selectedChapter ? 'Update' : 'Add' }}
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>