<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h3>Add Question</h3>
                </div>
                <div class="card-body">
                    <form [formGroup]="questionForm" (ngSubmit)="onSubmit()">
                        <div class="form-group">
                            <label for="name">Question</label>
                            <input type="text" id="name" formControlName="name" class="form-control"
                                placeholder="Enter question" />
                        </div>

                        <div class="form-group">
                            <label for="dropdown">Select Type</label>
                            <select id="dropdown" formControlName="sectionType" class="form-control">
                                <option value="" disabled>Select a Type</option>
                                <option value="MCQ">MCQs</option>
                                <option value="SHORT_QUESTION">Short</option>
                                <option value="LONG_QUESTION">Long</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="dropdown">Select Class</label>
                            <select id="dropdown" formControlName="class" class="form-control">
                                <option value="" disabled>Select a Class</option>
                                <option *ngFor="let class of classes; let i = index" value="{{class.id}}">{{class.name}}
                                </option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="dropdown">Select Subject</label>
                            <select id="dropdown" formControlName="subject" class="form-control">
                                <option value="" disabled>Select a Subject</option>
                                <option *ngFor="let subject of subjects; let i = index" value="{{subject.id}}">
                                    {{subject.name}}</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="dropdown">Select Chapter</label>
                            <select id="dropdown" formControlName="chapter" class="form-control">
                                <option value="" disabled>Select a Chapter</option>
                                <option *ngFor="let chapter of chapters; let i = index" value="{{chapter.id}}">
                                    {{chapter.name}}
                                </option>
                            </select>
                        </div>

                        <button type="submit" class="btn btn-primary btn-block" [disabled]="questionForm.invalid">
                            Add
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>